@font-face {
    font-family: "CursedTimer";
    src: url("fonts/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    border-radius: 2%;
}

h3 {
    color: #EEEEEE;
    font-weight: 900;
    font-size: 2rem;
    margin: 0 0 10px;
}

.score-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.score-number {
    font-family: "CursedTimer";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 120px;
    color: #F94F6D;
    font-size: 5rem;
    background-color: #080001;
}

.add-points {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
}

.plus-point {
    font-family: "CursedTimer";
    font-size: 1rem;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid #9AABD8;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.plus-point:hover {
    background-color: #9AABD8;
    color: #1B244A;
}

.plus-point:active {
    transform: scale(0.98);
}